1.Write a program to accept percentage from the user and display the grade according to the following 
criteria: 
Marks          Grade
>90              A
>80 and <=90     B
>=60 and <=80    C
below 60         D

In [3]:
a= int(input("Enter Your Marks: "))
if a>90:
    print("You Got a A Grade")
elif a>80 and a<=90:
    print("You Got a B Grade")
elif a>=60 and a<=80:
    print("You Got a C Grade")
else:
    print("You Got a D Grade")

Enter Your Marks:  50

You Got a D Grade

2.Write a program to accept the cost price of a bike and display the road tax to be paid according to the 
following criteria: 
Tax      Cost Price(in Rs)     
15%      >100000 
10%      >50000 and <= 100000 
5%       <= 50000

In [6]:
n=int(input("Enter Your Cost Price of your bike: "))
if n>100000:
    print("You will be paid for 15% tax")
elif n>50000 and n<= 100000:
    print("You will be paid for 10% tax")
else:
    print("You will be paid for 5% tax")

Enter Your Cost Price of your bike:  551651

You will be paid for 15% tax

3.Accept any city from the user and display monuments of that city. 
City        Monument 
Delhi       Red Fort 
Agra        Taj Mahal 
Jaipur      Jal Mahal

In [12]:
a = input("Enter the City which you want to see the moument: ")
if a == "Delhi":
    print("Red Fort")
elif a == "Agra":
    print("Taj Mahal")
elif a == "Jaipur":
    print("Jal Mahal")
else:
    print("Invalid Input")

Enter the City which you want to see the moument:  Delhi

Red Fort

4. how many times a given number can be divided by 3 before it is less than or equal to 10.

In [6]:
num = int(input("Enter Your Number : "))
count = 0

while num >= 10 and num % 3 == 0:
    num = num/3
    count = count + 1

count

Enter Your Number :  999

3

5.Why and When to Use while Loop in Python give a detailed description with example.

Python while loop is used to run a block code until a certain condition is met. Here, A while loop evaluates the condition. If the condition evaluates to True , the code inside the while loop is executed.

In [8]:
a=int(input("Enter Your Number: "))

while a<=10:
    print(a)
    a=a+1
a

Enter Your Number:  5

5
6
7
8
9
10

11

6. Use nested while loop to print 3 different pattern

In [10]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print("\r")
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

7. Reverse a while loop to display numbers from 10 to 1.

In [15]:
a=10

while a>1:
    print(a)
    a=a-1
a

10
9
8
7
6
5
4
3
2

1